.root {
    -fx-background-color: #686c74;
    -fx-padding: 10px;
}

.list-cell{
    -fx-text-fill: #ffffff;
    -fx-background-color: #686c74;
}
.list-view{
    -fx-pref-height: 500px;
    -fx-min-width: 20%;
}

.vbox{
    -fx-text-fill: #ffffff;
    -fx-padding: 20px;
    -fx-background-color: #383c44;
}
.label{
    -fx-text-fill: #ffffff;
}

.vboxCenter {
    -fx-pref-width: 500px;
    -fx-pref-height: 500px;
    -fx-background-color: #383c44;
}

.margin{
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
.marginTop{
    -fx-padding: 5px 0 0 0;
    -fx-border-insets: 5px 0 0 0;
    -fx-background-insets: 5px 0 0 0;
}