.root {
    -fx-background-color: #686c74;
    -fx-padding: 10px;
}

.list-cell{
    -fx-text-fill: #ffffff;
    -fx-background-color: #686c74;
}

.list-cell:hover {
    -fx-background-color: #373a43;
}

.list-cell:selected {
    -fx-background-color: #d7a31a;
}

.mainViewList{
    -fx-pref-height: 500px;
    -fx-min-width: 20%;
    -fx-background-color: #686c74;
}

.vbox{
    -fx-text-fill: #ffffff;
    -fx-padding: 20px;
    -fx-background-color: #383c44;
}
.label{
    -fx-text-fill: #ffffff;
}

.vboxCenter {
    -fx-background-color: #383c44;
}

.margin{
    -fx-padding: 10px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
.marginTop{
    -fx-padding: 5px 0 0 0;
    -fx-border-insets: 5px 0 0 0;
    -fx-background-insets: 5px 0 0 0;
}

.header-section {
    -fx-background-color: #f0f0f0;
    -fx-pref-width: 600px;
    -fx-pref-height: 400px;
}

.token-vbox {
    -fx-spacing: 10;
    -fx-padding: 20;
    -fx-alignment: center;
}

Label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}

TextField {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-font-size: 14px;
}

Button {
    -fx-pref-width: 100px;
    -fx-pref-height: 40px;
    -fx-font-size: 14px;
    -fx-background-color: #007bff;
    -fx-text-fill: white;
}

Button:hover {
    -fx-background-color: #0056b3;
}

Button:pressed {
    -fx-background-color: #004080;
}

.clickable {
    -fx-underline: true;
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-border-color: #686c74;
}

.scroll-pane .viewport {
    -fx-background-color: #686c74;
    -fx-border-color: #686c74;
    /*-fx-border-color: #383c44;*/
}

.scroll-pane {
    -fx-background-color: #686c74;
}

.titled-pane .title {
    -fx-background-color: #383c44;
}

.titled-pane {
    -fx-border-color: #383c44;
    -fx-background-color: #383c44;
}

.titledPane > .title > .arrow-button > .arrow{
    -fx-background-color: white;
    -fx-effect: null;
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: #d7a31a;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:focused > .title > .arrow-button .arrow
{
    -fx-background-color: #d7a31a;
    -fx-effect: null;
}

.group-view-vbox {
    -fx-padding: 0 0 0 10;
    -fx-spacing: 5px;
}

.repo-box {
    -fx-background-color: #383c44;
}